
" General rules
set backspace=indent,eol,start
set noerrorbells
set ruler
set number relativenumber
set showcmd
set incsearch
set hlsearch
set nrformats=
set tabstop=4 softtabstop=4 expandtab shiftwidth=4 smarttab " 4 spaces instead of tab
set smartindent
set clipboard=unnamedplus
set noswapfile
set nobackup
set cursorline
set laststatus=2
let mapleader = " "


inoremap jj <ESC>

" Actions
nnoremap <space>gd :action GotoImplementation<cr>
nnoremap <space>gt :action GotoTest<cr>
nnoremap <space>gr :action Run<cr>
nnoremap <c-p> :action GotoFile<CR>
nnoremap <space>cs :action GenerateSetter<CR>
nnoremap <space>cg :action GenerateGetter<CR>
nnoremap <space>ca :action GenerateGetterAndSetter<CR>
nnoremap <space>cc :action GenerateConstructor<CR>
nnoremap <space>se :action ShowErrorDescription<CR>
nnoremap <space>w :action SaveAll<CR>
nnoremap <c-n> :action ActivateProjectToolWindow<CR>
nmap <leader>q :action CloseContent<CR>

" easy window navigation
nnoremap <leader>l <c-w>l
nnoremap <leader>j <c-w>j
nnoremap <leader>h <c-w>h
nnoremap <leader>k <c-w>k
nnoremap J gT
nnoremap K gt

" Size manipulation
nnoremap <silent> <Leader>+ :vertical resize +5<CR>
nnoremap <silent> <Leader>- :vertical resize -5<CR>

" code refactoring
nnoremap <space>rn :action RenameElement<cr>

" set plugins
set surround
set commentary
set highlightedyank

" code navigation
nnoremap <space>gd :action GotoImplementation<cr>
nnoremap <space>gt :action GotoTest<cr>
